In [94]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [95]:
print ('wassup mate')

wassup mate

In [96]:
x = 7
print('x is {} and its type is {}'.format(x, type(x)))

x is 7 and its type is <type 'int'>

In [97]:
x = '7'
print('x is {} and its type is {}'.format(x,type(x)))

x is 7 and its type is <type 'str'>

In [98]:
x = 7
y = '7'
z = x + y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Python has two numeric types 
1. int
2. float

In [99]:
print(type(7))

print(type(7.0))

<type 'int'>
<type 'float'>

In [100]:
# addition

print('integer addition', 5+3)

print('integer + float addition', 2+2.0)

('integer addition', 8)
('integer + float addition', 4.0)

In [101]:
# division

print('1 slash integer division', (4/2))

print('2 slash integer division', (4//2))

print('1 slash integer by float division', (4/2.0))

('1 slash integer division', 2)
('2 slash integer division', 2)
('1 slash integer by float division', 2.0)

In [102]:
print ('1 slash integer division', (4/3))

print ('2 slash integer by float division',(4//3.0))

('1 slash integer division', 1)
('2 slash integer by float division', 1.0)

In [103]:
# multiplication/power

print('integer multiplication',(4*3))

print('integer with float multiplication',(4.0*3))

print('integer mpower',(4**3))

print('float with integer power',(4.0*3))

print('integer with float power',(4*3.0))

('integer multiplication', 12)
('integer with float multiplication', 12.0)
('integer mpower', 64)
('float with integer power', 12.0)
('integer with float power', 12.0)

In [104]:
# modulus

print('7 divide by 3', 7%3)

('7 divide by 3', 1)

In [105]:
# booleans

print(type(True))

print('Is true equal 1?', True==1)

print('Is true equal 0?', True==0)

print('Is false equal 0?', False==0)

a = 3*6 > 15

print(a)

<type 'bool'>
('Is true equal 1?', True)
('Is true equal 0?', False)
('Is false equal 0?', True)
True

In [106]:
# Strings

print ('the type of one char', type('c'))

print ('the type of a long string', type('a long string'))

('the type of one char', <type 'str'>)
('the type of a long string', <type 'str'>)

In [107]:
# Create a new 

empty = []
print (empty,'is of type', type(empty))

letters = ['a', 'b', 'c', 'd']
print (letters,'is of type', type(letters))

numbers = [2, 3, 5]
print (numbers,'is of type', type(numbers))

# Lists can contain elements of different types
mixed = [4, 5, "seconds"]
print (mixed)

([], 'is of type', <type 'list'>)
(['a', 'b', 'c', 'd'], 'is of type', <type 'list'>)
([2, 3, 5], 'is of type', <type 'list'>)
[4, 5, 'seconds']

In [108]:
# Append elements to the end of a list

numbers = [2, 3, 5]

numbers.append(7)

print (numbers)

numbers.append(11)

print (numbers)

[2, 3, 5, 7]
[2, 3, 5, 7, 11]

In [109]:
# lists

empty = []
print(empty,'is of type',type(empty))

letters = [ 'a', 'b', 'c', 'd']
print(letters,"is of type",type(letters))

# list can contain different types

mixed = [2,3,'a',"abc"]
print(mixed)

([], 'is of type', <type 'list'>)
(['a', 'b', 'c', 'd'], 'is of type', <type 'list'>)
[2, 3, 'a', 'abc']

In [110]:
# append the element to the end of the list

numbers = [1,2,3,4,5]
numbers.append(6)
print(numbers)

numbers = [1,2,3,4,5]
numbers.append([6,7])
print(numbers)

numbers = [1,2,3,4,5]
numbers.append((6,7))
print(numbers)

numbers = [1,2,3,4,5]
numbers.append({6,7})
print(numbers)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, [6, 7]]
[1, 2, 3, 4, 5, (6, 7)]
[1, 2, 3, 4, 5, set([6, 7])]

In [111]:
# Access elements at a particular index

print (numbers[0])

print (numbers[2])

print (numbers[-1])

1
3
set([6, 7])

In [112]:
# You can also slice lists - the same rules apply
print (letters[0:4])

print (numbers[3:-1])

['a', 'b', 'c', 'd']
[4, 5]

In [113]:
# Length (len)
print (len([])) 

print (len("python")) 

print (len([4,5,"seconds"]))

0
6
3

In [114]:
# query
print ('y' in 'python')

True

## Difference between Tuples and List<br>
<font color=red>**The difference between the two that people notice right away, besides literal syntax (parentheses vs. square brackets), is that tuples are immutable and lists are mutable.<br>Unfortunately, because this distinction is strictly enforced by the Python runtime, some other more interesting differences in application tend to get overshadowed.
<br>
One common summary of these more interesting, if subtle, differences is that tuples are heterogeneous and lists are homogeneous. <br>In other words:
<br>
    -  Tuples (generally) are sequences of different kinds of stuff, and you deal with the tuple as a coherent unit<br>
    -  Lists (generally) are sequences of the same kind of stuff, and you deal with the items individually
**</font>

In [115]:
t = (1,2,3,4)

In [116]:
t

(1, 2, 3, 4)

In [117]:
t = (1,2,2,2,3,4)

In [118]:
t

(1, 2, 2, 2, 3, 4)

In [119]:
t.count(1)

1

In [120]:
t.count(2)

3

In [121]:
l = [1,2,3]
l[0] = 'anmol'

In [122]:
l

['anmol', 2, 3]

In [123]:
t[0] = 3

TypeError: 'tuple' object does not support item assignment

### Tuples do not support reassignment

In [124]:
# sets

x = set()

In [125]:
x.add(1)

In [126]:
x

{1}

In [127]:
x.add(3)

In [128]:
x

{1, 3}

In [129]:
x.add(2)

In [130]:
x

{1, 2, 3}

In [131]:
l = [1,2,3,4,5,6,7]
x.add(l)

TypeError: unhashable type: 'list'

In [132]:
set(l)

{1, 2, 3, 4, 5, 6, 7}

## Sets are only concerned with unique values

<br>
<br>
# <font color=red> ** for loops ** </font>

In [133]:
l = [1,2,3,4,5]

In [134]:
l

[1, 2, 3, 4, 5]

In [135]:
for element in l :
    print element

1
2
3
4
5

In [136]:
for num in l : 
    print 'text'

text
text
text
text
text

In [137]:
for num in l:
    if num%2 == 0:
        print num
    else:
        print 'odd'

odd
2
odd
4
odd

In [138]:
suml = 0
for ele in l :
    suml += ele
suml

15

In [139]:
x = 0
while x<5 :
    print 'lesst than 5 :',x
    x=x+1

lesst than 5 : 0
lesst than 5 : 1
lesst than 5 : 2
lesst than 5 : 3
lesst than 5 : 4

<br>
<br>
# <font color=red> ** range() and xrange() ** </font>

In [140]:
range(1,5)

[1, 2, 3, 4]

In [141]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [142]:
x = range(5)
print x
type(x)

[0, 1, 2, 3, 4]

list

In [143]:
range(0,10,3) # third argument is the incremetal parameter

[0, 3, 6, 9]

In [144]:
range(-10,0,-3)

[]

In [145]:
xrange(1,5)

xrange(1, 5)

In [146]:
x = xrange(1,5)

In [147]:
x

xrange(1, 5)

In [148]:
list(x)

[1, 2, 3, 4]

In [149]:
lst = [x for x in 'test']

<br>
<br>
# <font color=red> ** Comprehensions ** </font>

In [150]:
lst

['t', 'e', 's', 't']