In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
print ('wassup mate')

wassup mate

In [3]:
x = 7
print('x is {} and its type is {}'.format(x, type(x)))

x is 7 and its type is <type 'int'>

In [4]:
x = '7'
print('x is {} and its type is {}'.format(x,type(x)))

x is 7 and its type is <type 'str'>

In [5]:
x = 7
y = '7'
z = x + y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Python has two numeric types 
1. int
2. float

In [6]:
print(type(7))

print(type(7.0))

<type 'int'>
<type 'float'>

In [7]:
# addition

print('integer addition', 5+3)

print('integer + float addition', 2+2.0)

('integer addition', 8)
('integer + float addition', 4.0)

In [8]:
# division

print('1 slash integer division', (4/2))

print('2 slash integer division', (4//2))

print('1 slash integer by float division', (4/2.0))

('1 slash integer division', 2)
('2 slash integer division', 2)
('1 slash integer by float division', 2.0)

In [9]:
print ('1 slash integer division', (4/3))

print ('2 slash integer by float division',(4//3.0))

('1 slash integer division', 1)
('2 slash integer by float division', 1.0)

In [1]:
# multiplication/power

print('integer multiplication',(4*3))

print('integer with float multiplication',(4.0*3))

print('integer mpower',(4**3))

print('float with integer power',(4.0**3))

print('integer with float power',(4**3.0))

integer multiplication 12
integer with float multiplication 12.0
integer mpower 64
float with integer power 64.0
integer with float power 64.0

In [11]:
# modulus

print('7 divide by 3', 7%3)

('7 divide by 3', 1)

In [12]:
# booleans

print(type(True))

print('Is true equal 1?', True==1)

print('Is true equal 0?', True==0)

print('Is false equal 0?', False==0)

a = 3*6 > 15

print(a)

<type 'bool'>
('Is true equal 1?', True)
('Is true equal 0?', False)
('Is false equal 0?', True)
True

In [13]:
# Strings

print ('the type of one char', type('c'))

print ('the type of a long string', type('a long string'))

('the type of one char', <type 'str'>)
('the type of a long string', <type 'str'>)

In [4]:
# Create a new 

empty = []
print (empty,'is of type', type(empty))

letters = ['a', 'b', 'c', 'd']
print (letters,'is of type', type(letters))

numbers = [2, 3, 5]
print (numbers,'is of type', type(numbers))

# Lists can contain elements of different types
mixed = [4, 5, "seconds"]
print (mixed)

[] is of type <class 'list'>
['a', 'b', 'c', 'd'] is of type <class 'list'>
[2, 3, 5] is of type <class 'list'>
[4, 5, 'seconds']

In [15]:
# Append elements to the end of a list

numbers = [2, 3, 5]

numbers.append(7)

print (numbers)

numbers.append(11)

print (numbers)

[2, 3, 5, 7]
[2, 3, 5, 7, 11]

In [16]:
# lists

empty = []
print(empty,'is of type',type(empty))

letters = [ 'a', 'b', 'c', 'd']
print(letters,"is of type",type(letters))

# list can contain different types

mixed = [2,3,'a',"abc"]
print(mixed)

([], 'is of type', <type 'list'>)
(['a', 'b', 'c', 'd'], 'is of type', <type 'list'>)
[2, 3, 'a', 'abc']

In [17]:
# append the element to the end of the list

numbers = [1,2,3,4,5]
numbers.append(6)
print(numbers)

numbers = [1,2,3,4,5]
numbers.append([6,7])
print(numbers)

numbers = [1,2,3,4,5]
numbers.append((6,7))
print(numbers)

numbers = [1,2,3,4,5]
numbers.append({6,7})
print(numbers)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, [6, 7]]
[1, 2, 3, 4, 5, (6, 7)]
[1, 2, 3, 4, 5, set([6, 7])]

In [18]:
# Access elements at a particular index

print (numbers[0])

print (numbers[2])

print (numbers[-1])

1
3
set([6, 7])

In [19]:
# You can also slice lists - the same rules apply
print (letters[0:4])

print (numbers[3:-1])

['a', 'b', 'c', 'd']
[4, 5]

In [20]:
# Length (len)
print (len([])) 

print (len("python")) 

print (len([4,5,"seconds"]))

0
6
3

In [7]:
# query
print ('y' in 'python')

True

## Difference between Tuples and List


**The difference between the two that people notice right away, besides literal syntax (parentheses vs. square brackets), is that tuples are immutable and lists are mutable.**

**Unfortunately, because this distinction is strictly enforced by the Python runtime, some other more interesting differences in application tend to get overshadowed.**

**One common summary of these more interesting, if subtle, differences is that tuples are heterogeneous and lists are homogeneous. 
In other words:**

-  **Tuples(generally)are sequences of different kinds of stuff, and you deal with the tuple as a coherent unit**

-  **Lists(generally)are sequences of the same kind of stuff, and you deal with the items individually**

In [40]:
t = (1,2,3,4)

In [23]:
t

(1, 2, 3, 4)

In [24]:
t = (1,2,2,2,3,4)

In [25]:
t

(1, 2, 2, 2, 3, 4)

In [26]:
t.count(1)

1

In [27]:
t.count(2)

3

In [28]:
l = [1,2,3]
l[0] = 'anmol'

In [29]:
l

['anmol', 2, 3]

In [30]:
t[0] = 3

TypeError: 'tuple' object does not support item assignment

### Tuples do not support reassignment

In [31]:
# sets

x = set()

In [32]:
x.add(1)

In [33]:
x

{1}

In [34]:
x.add(3)

In [35]:
x

{1, 3}

In [36]:
x.add(2)

In [37]:
x

{1, 2, 3}

In [38]:
l = [1,2,3,4,5,6,7]
x.add(l)

TypeError: unhashable type: 'list'

In [39]:
set(l)

{1, 2, 3, 4, 5, 6, 7}

## Sets are only concerned with unique values


# **for loops**

In [41]:
l = [1,2,3,4,5]

In [42]:
l

[1, 2, 3, 4, 5]

In [43]:
for element in l :
    print element

1
2
3
4
5

In [44]:
for num in l : 
    print 'text'

text
text
text
text
text

In [45]:
for num in l:
    if num%2 == 0:
        print num
    else:
        print 'odd'

odd
2
odd
4
odd

In [46]:
suml = 0
for ele in l :
    suml += ele
suml

15

In [9]:
x = 0
while x<5 :
    print ('less than 5 :',x)
    x=x+1

less than 5 : 0
less than 5 : 1
less than 5 : 2
less than 5 : 3
less than 5 : 4


# ** range() and xrange() **

**For the most part, xrange and range are the exact same in terms of functionality.**

**They both provide a way to generate a list of integers for you to use, however you please.**

**The only difference is that range returns a Python list object and xrange returns an xrange *object.**

**What does that mean? It means that xrange doesn't actually generate a static list at run-time like range does.**

**It creates the values as you need them with a special technique called yielding.**

**This technique is used with a type of object known as generators.**

In [49]:
range(1,5)

[1, 2, 3, 4]

In [50]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
x = range(5)
print x
type(x)

[0, 1, 2, 3, 4]

list

In [52]:
range(0,10,3) # third argument is the incremetal parameter

[0, 3, 6, 9]

In [53]:
range(-10,0,-3)

[]

In [54]:
xrange(1,5)

xrange(1, 5)

In [55]:
x = xrange(1,5)

In [56]:
x

xrange(1, 5)

In [57]:
list(x)

[1, 2, 3, 4]

In [65]:
list(xrange(-1,-10,-2))

[-1, -3, -5, -7, -9]

In [11]:
for i in xrange(-1, -20, -3):
     print(i)

-1
-4
-7
-10
-13
-16
-19

In [66]:
lst = [x for x in 'test']

In [67]:
lst

['t', 'e', 's', 't']


# ** Comprehensions **

**List comprehensions provide a concise way to create lists.** 

**It consists of brackets containing an expression followed by a for clause, then
zero or more for or if clauses.**

**The expressions can be anything, meaning you can
put in all kinds of objects in lists.**

**Syntax : new_list = [expression(i) for i in old_list if filter(i)]**

In [60]:
lst = [x for x in xrange(1,5)]

In [61]:
lst

[1, 2, 3, 4]

In [62]:
sq = [x**2 for x in xrange(1,5)]

In [63]:
sq

[1, 4, 9, 16]

In [70]:
even = [x for x in range(1,20) if x%2==0]

In [71]:
even*

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [74]:
pow4 = [x**2 for x in [x**2 for x in range(1,10)]]

In [75]:
pow4

[1, 16, 81, 256, 625, 1296, 2401, 4096, 6561]

In [76]:
#Use List comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

x = [x for x in range(1,50) if x%3==0]

In [77]:
x

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [81]:
for l in range(1,50) :
    if(l%3 == 0) :
        if(l%5 == 0) :
            print 'FizzBuzz'
        else :
            print 'Fizz'
    elif (l%5 == 0) :
            print 'Buzz'
    else :
        print l

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49